*{
    margin: 0;

    padding: 0;


}
.container{
    width: 90%;
    margin: 0 auto;


}

#header{
    background: #FFFFFF;



}
.head{

    display: flex;
    justify-content:start;
    align-items: center;


}
svg{
    margin: 40px;


}
a{
    width: 43px;
    height: 10px;
    font-family: 'Work Sans',sans-serif;
    font-size: 15px;
    line-height: 10px;
    color: #222222;
    margin: 20px;
}

.contakb{
    width: 43px;
    height: 10px;
    font-family: 'Work Sans',sans-serif;
    font-size: 15px;
    line-height: 10px;
    color: #0082F3;
}




